@import url(https://fonts.googleapis.com/css?family=Heebo);
body, html {
  height: 100%;
  width:100%;
  margin: 0;
  font-family: 'Heebo', sans-serif;
   
}
.vnaltest{
  margin-bottom: 5%;

}
a{
  color:#A09E9E;
  font-size: 1.5em;
  text-decoration: none;
}
a:hover{
  color:#40cbff;
}
li{
  margin-bottom:1.5em;

}
ul{
  list-style:none;
}
.bgim {
  /* The image used */
  transition: .5s;

  /* Full height */
  height: 110%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.5);

}
.bg{
  overflow: hidden;
  height: 110%;
}
.content.begin{
  margin-top:100%;
}
.content{

  z-index: 9998;
  position: absolute;
  background-color: white;

  text-align: center;
  width:60vw;
  height: 100%;
  margin-right:20vw;
  margin-left:20vw;
  margin-top: 10vh;
 
  
  bottom:-500px;;

  animation-name:slideup;

  animation-duration:0.5s;
  animation-fill-mode:forwards;
  animation-timing-function:ease-out;

}
.bg2{
  width:100%;
}
@keyframes slideup {
  0%{bottom:-500px}
  100%{bottom:-10%;}
}