@media screen and (max-width: 1000px) {
  .pageWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  pre#home {
    font-size: 2.1vw
  }

  nav span {
    display: none;
  }

  nav .shadow {
    display: flex;
    position: fixed;
    height: 5rem;
    width: 3rem;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%);
    pointer-events: none;
  }

  nav ul li a {
    padding: 0.5rem 0.75rem;
  }

  nav ul li:last-child {
    margin-right: 2rem;
  }

  .sidebarButton {
    align-items: flex-end;
    height: calc(100% - 5rem);
  }

  .sidebarButton button {
    transform-origin: center center;
    font-size: 1rem;
    margin: 0 0 3rem 1.5rem;
  }

  .pageWrapper {
    width: 100%;
  }
}