
#map {
  height: 75%;
}
#mappick {
  height: 25%;
  width:100%;
  float:right;
  display:inline;
}
#msg{
	border-style: solid;
	font-weight: bold;
	font-size: 1vw;
	border:none; 
	margin-left: 10vw;
	line-height: 5vh;
}
#cover{
	width:100%;
	height:5%;
	bottom:25%;
	position: absolute;
	background-color:white;
	z-index: 9998;
}
#check2{
    display:inline;
    float:left;
 
	border-radius:4px;
	border-style: solid;
	font-weight: bold;
	font-size: 1vw; 
	color:white;
	border-color:#3fd45b;
	background-color: #3fd45b;
	height:4vh;
	margin-top:0.5vh;
	width:6vw;
	outline:none;
	margin-left: 2vw;
}
#check2:disabled,
#check2[disabled]{
	 display:inline;
    float:left;
 
	border-radius:4px;
	border-style: solid;
	font-weight: bold;
	font-size: 1vw; 
	color:white;
	border-color:#c9c9c9;
	background-color: #c9c9c9;
	height:4vh;
	margin-top:0.5vh;
	width:6vw;
	outline:none;
	margin-left: 2vw;
}
#check3{
    display:inline;
    float:left;
 
	border-radius:4px;
	border-style: solid;
	font-weight: bold;
	font-size: 1vw; 
	color:white;
	border-color:#689AFB;
	background-color: #689AFB;
	height:4vh;
	margin-top:0.5vh;
	width:10vw;
	outline:none;
	margin-left: 2vw;
	margin-right:2vw;
}
#rth{
	top:125px;
	right:0.5vw;
	position: absolute;
	z-index: 9999;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: segoe ui;
}