
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html {
  background-color: black;
}

body {
  cursor: none !important;
  pointer-events: auto;
}

html,
body,
.main {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.6rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div,
pre {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  cursor: none;
  position: relative;
}

a[href^="https://"]::after {
  content: "+";
  font-size: 0.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

h1,
h2,
h3 {
  margin: 1rem 0;
}

button {
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: none;
}

#cursor {
  display: none;
  opacity: 0%;
  position: fixed;
  z-index: 9999;
  outline-offset: 3px;
  background-color: black;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  filter: invert(1);
  mix-blend-mode: difference;
  transition: border-radius 0.25s ease, opacity 0.25s ease;
  pointer-events: none;
}

@media (pointer: fine) {
  #cursor {
    display: block;
  }
}

#consolePrompt {
  position: fixed;
  top: 0;
  left: 0;
  color: #00ff00;
  font-size: 1.8rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 0.5rem;
}

#consolePrompt .blink {
  font-weight: bold;
  animation: 0.75s fadeOut ease;
  animation-iteration-count: infinite;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: calc(100% - 5rem);
  transform: scaleY(0);
  transform-origin: top;
  transition: left 0.5s ease;
}

.bg.show {
  animation: 1s growDown 0.5s ease;
  animation-fill-mode: forwards;
}

.bg.hide {
  transform: scaleY(1);
  animation: 1s growUp 0.5s ease;
  animation-fill-mode: forwards;
}

.bg.left {
  left: -15rem !important;
}

.sidebarButton.left {
  right: 15rem !important;
}

.sidebarButton {
  visibility: visible;
  position: fixed;
  height: 100%;
  width: 5rem;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  font-size: 1.25rem;
  opacity: 0;
}

.sidebarButton button {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.sidebarButton.show {
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
}

.sidebarButton.hide {
  visibility: hidden;
  animation: fadeOut 0.5s ease;
  animation-fill-mode: forwards;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  position: fixed;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  top: 0;
  right: 0;
  width: 15rem;
  padding: 1rem;
  color: #00ff00;
  opacity: 0;
  animation: 0s fadeIn 2s ease;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  text-align: left;
}

.stats h2 {
  margin-top: 0;
}

.pageWrapper {
  flex: 2;
  position: relative;
  height: 100%;
  width: 1000px;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  opacity: 0%;
  color: white;
  overflow-y: auto;
  padding: 1rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.page.show {
  display: flex;
  animation: fadeIn 0.5s ease;
  animation-fill-mode: forwards;
}

.page.hide {
  display: flex;
  opacity: 100%;
  animation: fadeOut 0.5s ease;
  animation-fill-mode: forwards;
}

.page.showImmediate {
  display: flex;
  opacity: 100%;
  transition: opacity 0s ease !important;
}

.page .pageTitle {
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
}

nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0 0;
  gap: 1rem;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  margin: 0;
  font-size: 1.25rem;
  width: 100%;
  overflow-x: auto;
}

nav ul li {
  opacity: 0;
  box-sizing: border-box;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
}

nav ul li a.selected {
  text-decoration: underline;
  text-underline-offset: 6px;
}

nav ul li:hover {
  text-underline-offset: 6px;
  text-decoration: underline;
}

nav .shadow {
  display: none;
}

/* Home */
pre#home {
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  color: black;
  user-select: none;
}
/* - */    

nav span {
  opacity: 0;
  white-space: nowrap;
}

nav ul li {
  /* animation: 1s fadeIn 1.5s; */
  animation-fill-mode: forwards !important;
}
/* 
nav ul li:nth-of-type(2) {
  animation: 1s fadeIn calc(1.5s + (0.2s * 1));
  animation-fill-mode: forwards;
}

nav ul li:nth-of-type(3) {
  animation: 1s fadeIn calc(1.5s + (0.2s * 2));
  animation-fill-mode: forwards;
}

nav ul li:nth-of-type(4) {
  animation: 1s fadeIn calc(1.5s + (0.2s * 3));
  animation-fill-mode: forwards;
}

nav ul li:nth-of-type(5) {
  animation: 1s fadeIn calc(1.5s + (0.2s * 4));
  animation-fill-mode: forwards;
}

nav ul li:nth-of-type(6) {
  animation: 1s fadeIn calc(1.5s + (0.2s * 5));
  animation-fill-mode: forwards;
} */

#visits div {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#visits b {
  text-align: right;
  width: 315px;
}

#about {
  text-align: left;
  align-items: flex-start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#about::-webkit-scrollbar {
  display: none;
}

#about a::after {
  color: white;
  right: -0.35rem;
  top: -0.25rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@media (prefers-reduced-motion) {
  body * {
    transition-duration: 0s !important;
    animation-duration: 0ms !important;
  }
}